* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* INICIO Header */
header {
    width: 100%;
    height: 165px;
    background-color: white;
}

.fila-header-first {
    width: 100%;
    height: 73px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.90em;
    display: inline-block;
    background-color: white;
}

#izq-header{
    width: 10%;
    background-color: white;
    display: inline-block;
    padding-top: 10px;
}

div#izq-header span{
    margin: 0px;
    margin-left: 30px;
    margin-bottom: 14px;
    display: inline-block;
}

#fondo-blanco {
    width: 20%;
    background-color: white;
    display: inline-block;
    color: white;
    clear: both;
}  

#linea-header {
    width: 55%;
    text-decoration: none;
    background-color: white;
    display: inline-block;
    clear: both;
}

div#linea-header div{
    display: inline-block;
    clear: both;
}

div#linea-header span{
    margin-right: 20px;
}

div#linea-header a{
    text-decoration: none;
    color: black;
}

div#linea-header a:hover{
    color: red;
}

.drc-header{
    width: 7%;
    margin-left: 20px;
    text-align: right;
    display: inline-block;
    clear: both;
}

.fila-header-second {
    width: 100%;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.90em;
    display: inline-block;
    background-color: grey;
}

#div-red{
    width: 12%;
    height: 70px;
    background-color: red;
    display: inline-block;
    color: red;
    float: left;
}

#div-logo{
    width: 27%;
    height: 70px;
    background-color: white;
    display: inline-block;
}

#linea-header-second{
    width: 40%;
    height: 20px;
    display: inline-block;
    clear: both;
    background-color: grey;
}

div#linea-header-second div{
    display: inline-block;
}

div#linea-header-second div span{
    font-size: medium;
    color: white;
    margin-right: 20px;
}

div#div-lupa{
    width: 5%;
    height: 70px;
    background-color: white;
    display: inline-block;
}


#div-yellow{
    width: 15.39%;
    height: 70px;
    color: yellow;
    background-color: yellow;
    position: absolute;
    clear: both;
    display: inline-block;
}
/* FIN Header */

/* INICIO Section */
/* INICIO Article Slider */
article#article-slider {
    width: 75%;
    height: 300px;
    background-color: white;
    margin-left: 150px;
    display: inline-block;
}

div#div-slider {
    width: 30%;
    height: 270px;
    margin-top: 30px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: inline-block;
}

div#div-slider span{
    color: #303030;
    font-size: 1.3em;
    margin-top: 20px;
}

div#div-slider p{
    color: #404040;
    padding-left: 10px;
    margin-top: 35px;
}

article#article-slider img{
    display: inline-block;
    float: right;
}

.myButton {
	background-color:#ff1100;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 24px;
    margin-top: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff1100;
}

div#img-section-rect {
    width: 66%;
    background-color: white;
    margin-top: 30px;
    margin-left: 230px;
    display: inline-block;
}
/* FIN Article Slider */

/* INICIO Article cajas con texto y imagenes */
.article-imagenes{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 120px;
}

.title-article {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 1.6em;
}

.article-imagenes img{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

#box-article {
    display: flex;
    width: 140%;
    margin-top: 20px;
    gap: 30px;
    justify-content: space-between, flex-start;
}

.title-box{
    font-family: 'Roboto', sans-serif;
    font-size: 1.35em;
    text-align: right;
    text-decoration: none;
    color: red;
}

.title-box:hover {
    color: #404040;
}

span.span-fecha {
    color: #404040;
}

.box-article-each {
    padding: 3px;
    border-style: groove;
    border-width: 2px;
}

span.text-box{
    font-family: 'Roboto', sans-serif;
    color: #404040;
    display: block;
    padding-top: 20px;
}
/* FIN Article cajas con texto y imagenes */

/* INICIO Article con video y boton */
#box-video{
    display: flex;
    width: 138%;
    height: 850px;
    margin-top: 20px;
    flex-direction: column;
}

#box-video iframe{
    width: 100%;
    height: 750px;
}

#box-video a{
    width: 20%;
    margin-left: 500px;
}

.text-subrayado{
    text-decoration: underline;
}
/* FIN Article con video y boton */

/* INICIO Article de cards, imagen y texto*/
.article-cards {
    margin-left: 120px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 200vh; 
}

.card{
    width: 400px;
    margin: 10px;
}

.card img {
    max-width: 100%;
}

.card .card-text {
    margin-top: 30px;
    padding: 0 20px 20px;
}

p.text-box {
    font-family: 'Roboto', sans-serif;
    color: #404040;
    margin-top: 10px;
}

span.text-negrita {
    font-weight: 600;
}

span.text-cursiva {
    font-style: italic;
}

span#title-cards {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 1.6em;
    display: flex;
    margin-left: 120px;
}
/* FIN Article de cards, imagen y texto*/

/* INICIO Article solo imagen*/
span#title-cards-img {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 1.6em;
    display: flex;
    margin-top: 40px;
    margin-left: 140px;
    margin-bottom: 10px;
}

.article-cards-img {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 130px;
    margin-bottom: 40px;
    max-height: 100vh;
}

.article-cards-img img {
    margin: 10px;
    margin-right: 17px;
    padding: 5px;
    border-color: #F8F8F8;
    border-style: groove;
    border-width: 1px;
    max-width: 26vw;
}
/* FIN Article solo imagen*/

/* INICIO Article media */
.grid-media {
    display: flex;
    margin-bottom: 10px;
}

.grid-media > div {
    font-size: 4vh;
    color: white;
    background: white;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
}

#media {
    display: flex;
    align-items: flex-start;
    background: red;
    padding: 1em;
    max-width: 28em;
    height: 250px;
    margin-left: 150px;
    float: right;
}

#img-media-numero {
    border-radius: 100px;
    max-width: 10vw;
    margin-right: 1em;
}

#media-text {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    flex: 1;
}

#media-title a{
    color: yellow;
    font-size: 1em;
    text-decoration: none;
    margin: 0 0 .5em;
}

#media-subst a{
    font-size: 0.6em;
    color: white;
    text-decoration: none;
}

#img-media img {
    margin-left: 120px;
    max-width: 12em;
}
/* FIN Article media */

/* INICIO Caja img sombra */
div#caja-sombra {
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 20px;
}

div#caja-sombra div{
    margin-right: 20px;
    display: inline-block;
}

div#caja-sombra div a:hover{
    cursor: pointer;
    box-shadow: red;
}

.sombra-img {
    height: 70px;
}
/* FIN Caja img sombra */

/* INICIO Footer */
.footer-distribuido {
    background-color: rgb(99, 99, 99);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}
  
.footer-distribuido .footer-izq {
    margin-left: 100px;
}

.footer-distribuido .footer-izq p {
    color: #8f9296;
    font-size: 13.5px;
    margin: 0;
}
  
.footer-distribuido .footer-izq img{
    width: 15%;
    height: 50px;
}

#img-footer1 {
    width: 20%;
    margin-right: 15px;
}

#img-footer2 {
    width: 25%;
    margin-right: 15px;
}

#img-footer3 {
    width: 11%;
}

#img-footer4 {
    width: 3.5%;
    margin-right: 15px;
}

#img-footer5 {
    width: 2%;
    margin-right: 15px;
}

#img-footer6 {
    width: 2%;
}

.footer-distribuido p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}
  
.footer-distribuido p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}
  
.footer-distribuido .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}
  
.footer-distribuido .footer-drc {
    float: right;
    margin-top: 6px;
    max-width: 180px;
    color: white;
    margin-right: 70px;
}
  
.footer-distribuido .footer-drc a {
    display: inline-block;
}

.footer-distribuido .footer-drc a img {
    width: 100%;
    height: 30px;
}

#footer-text{
    text-decoration: none;
    margin-top: 25px;
}

#footer-text a{
    text-decoration: none;
    color: white;
}

#footer-text a:hover{
    text-decoration: underline;
    color: rgb(252, 204, 47);
}

#footer-text span{
    color: white;
    margin-right: 19px;
}

#footer-text span:hover{
    color: rgb(252, 204, 47);
}
/* FIN Footer */

/* INICIO Queries */
@media screen and (resolution: 600px) {
    #title-cards-img {margin-top: 50px;}
    #aticle-cards-img {margin-top: 50px;}
    #div-slider img {display: none;}
}

@media screen and (resolution: 300px) {
    #aticle-cards-img {margin-top: 50px;}
    #div-slider img {display: none;}
}


/* FIN Queries */